/*background color*/
.root {
    -fx-background-color: #131518;
}

#map {
    -fx-background-repeat: repeat;
    -fx-background-color: none;
    -fx-background-image: url("/img/elements/floor_water.png");
}
#map > * {
    -fx-background-color: red;
}

#textTitle{
    -fx-fill: #fff;
    -fx-font-size: 40;
    -fx-font-family: 'Bowlby One SC';
}

#text{
    -fx-fill: #fff;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto';
}

#buttonInGame{
    -fx-padding: 20px 150px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnMenu.png');
}

#loginForm {
    -fx-max-width: 350px;
    -fx-background-color: #262626;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0, 0);
}