.root {
    -fx-background-color: #252525;
}

#toolBar{
	-fx-background-color: #131518;
}

#textTitle{
	-fx-fill: #252525;
    -fx-font-size: 40;
    -fx-font-family: 'Bowlby One SC';
}

#textExit {
    -fx-fill: #FFF;
    -fx-font-size: 18;
    -fx-font-family: 'Roboto';
}

#btnYes {
    -fx-padding: 10px 63px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnConfirm.png');
}

#btnNo {
    -fx-padding: 10px63px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnDecline.png');
}
