/*background color*/
.root {
    -fx-background-color: #131518;
}

#toolBar {
    -fx-background-color: none;
}

#btnClose {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Close.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnClose:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Close_Hovered.png');
}

#btnMin {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Minimize.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnMin:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Minimize_Hovered.png');
}

#btnMax {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Maximize.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnMax:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Maximize_Hovered.png');
}

#textOptions{
	-fx-fill: #fff;
    -fx-font-size: 70;
    -fx-font-family: 'Bowlby One SC';
}

#textSound{
	-fx-fill: #fff;
    -fx-text-inner-color: #fff;
    -fx-font-size: 15;
    -fx-font-family: 'Sen', sans-serif;
}

#btnSonOn {
    -fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnOn.png');
}

#btnSonOff {
    -fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnOff.png');
}

#btnAppa{
	-fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnSkin.png');
}

#btnAppa:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/btnSkinHovered.png');
}


#btnReturn{
	-fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnBack.png');
}

#btnReturn:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/btnBackHovered.png');
}

#layoutOptionContainer{
	-fx-max-width: 500px;
    -fx-background-color: #262626;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0, 0);
}    
   