@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');


/*background color*/
.root {
    -fx-background-color: #131518;
}

#toolBar {
    -fx-background-color: none;
}

#btnClose {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Close.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnClose:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Close_Hovered.png');
}

#btnMin {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Minimize.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnMin:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Minimize_Hovered.png');
}

#btnMax {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Maximize.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnMax:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Maximize_Hovered.png');
}

#btnConnect {
    -fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnConnect.png');
}

#btnConnect:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/btnConnectHovered.png');

}

#loginForm {
    -fx-max-width: 500px;
    -fx-background-color: #262626;
    -fx-border-radius: 4px;
    -fx-border-width: 4px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0, 0);
}


#footer {
    -fx-background-color: #131518;
}

#PseudoField {
    -fx-text-inner-color: #fff;
    -fx-background-color: #131313;
    -fx-max-width: 412px;
    -fx-font-size: 1.4em;
    -fx-font-family: 'Sen', sans-serif;
}


/*Text style: user name: */
#text {
    -fx-fill: #fff;
    -fx-text-inner-color: #fff;
    -fx-font-size: 15;
    -fx-font-family: 'Sen', sans-serif;
}

#errorText {
    -fx-fill: #eb3434;
    -fx-text-inner-color: #fff;
    -fx-font-size: 15;
    -fx-font-family: 'Sen', sans-serif;
}

#footerTxt {
    -fx-fill: #525252;
    -fx-text-inner-color: #fff;
    -fx-font-size: 15;
    -fx-font-family: 'Sen', sans-serif;
}