/*background color*/
.root {
    -fx-background-color: #131518;
}

#toolBar {
    -fx-background-color: none;
}

#btnClose {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Close.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnClose:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Close_Hovered.png');
}

#btnMin {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Minimize.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnMin:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Minimize_Hovered.png');
}

#btnMax {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Maximize.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnMax:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Maximize_Hovered.png');
}

#textAppa{
	-fx-fill: #fff;
    -fx-font-size: 30;
    -fx-font-family: 'Bowlby One SC';
}

#btnBack{
	-fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnBack.png');
}

#btnBack:hover{
	-fx-background-color: none;
    -fx-background-image: url('/img/btnBackHovered.png');
}