.root {
    -fx-background-color: #131518;
}

@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap');



/*background color*/
.root {
    -fx-background-color: #131518;
}

#toolBar {
    -fx-background-color: none;
}

#btnClose {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Close.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnClose:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Close_Hovered.png');
}

#btnMin {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Minimize.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnMin:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Minimize_Hovered.png');
}

#btnMax {
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-background-image: url('/img/Maximize.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
    -fx-border-color: none;
}

#btnMax:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/Maximize_Hovered.png');
}

#btnPlay {
    -fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnPlay.png');
}

#btnPlay:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/btnPlayHovered.png');
}

#btnMulty {
    -fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnMulti.png');
}

#btnMulty:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/btnMultiHovered.png');
}

#btnOption {
    -fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnOption.png');
}

#btnOption:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/btnOptionHovered.png');
}

#btnExit {
    -fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnExit.png');
}

#btnExit:hover {
    -fx-background-color: none;
    -fx-background-image: url('/img/btnExitHovered.png');
}


#footerTxt {
    -fx-fill: #fff;
    -fx-font-size: 15;
    -fx-font-family: 'Roboto', sans-serif;
}

#footerPseudo{
	-fx-fill: #fff;
    -fx-font-size: 16;
    -fx-font-family: 'Ubuntu', sans-serif;
}
