/*background color*/
.root {
    -fx-background-color: #131518;
}

#textTitle{
	-fx-fill: #fff;
    -fx-font-size: 30;
    -fx-font-family: 'Bowlby One SC';
}

#continueGame{
	-fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnContinue.png');
}

#backToMenu2{
	-fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnMainMenu.png');
}

#restartGame{
	-fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnRestart.png');
}

#endProgram{
	-fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnQuitTheGame.png');
}

#backToMenu{
	-fx-padding: 20px 206px;
    -fx-background-repeat: no-repeat;
    -fx-background-color: none;
    -fx-background-image: url('/img/btnOk.png');
}